.navbar {
    justify-content: flex-start;
    .navbar-brand{
        color: white;
        font-weight: 700;
        font-size: larger;
            
            
    }
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);

}

